/* FIL ROUGE*/
/*GENERAL*/

*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "Karate";
    src: url("/assets/fonts/Karate.ttf");
}

.background-color-black{
    background-color: black;

    height:780px;
}

.background-color-red{
    background-color:#E30016;

    height:100vh;  
}

.background-color-white{
    background-color:white;
    height:100vh;  
}

.background-color-footer{
    background-color:#E30016;
    
    height:200px;  
}

.color-red{
    color:#E30016;
}

.color-white{
    color:white;
}

h1{
    text-align: center;
}

h2{
    padding-bottom: 20px;
}

.divider{
    width:100px;
    height:2px;
    background-color: #d82c2e;
    margin: 0 auto 20px;
}

.divider.white {
    background-color: white;

}
/* NAVBAR */
.navbar {
    background-color:white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.navbar-nav{
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    color:black !important;
    margin: 0 6px;
}

.nav-link.active,
.nav-link:hover{
    background-color: black;
    color:white !important;
}

/*HEADER*/


.container{
    height:780px;
}


#logo{
    width:150px;
    border:1px;
    text-align: center;

}

#drapeau-langue{
    width:42px;
    margin-top: 20px;
    margin-right: 20px;
}

h1{
    font-family: "Karate", serif, sans-serif;
    color:#E30016;
    margin-bottom: 50px;
   /* margin-top: 20px;
    text-align: left;
*/
    
}

#video{
   display: flex;
   justify-content: center;
}

.myNavPad {
    padding-left: 5rem;
}


/*HEADER*/



h2{
    color:white;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

#carousel{
height:600px;
width:600px;
margin: 0 auto;
}

/*ACTUS*/


/*PRESENTATION*/

#kyokushinkai-img{
    max-width: 40px;
}

#photo-dojo{
 
}

/*COURS*/
#cours{
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/*TARIF*/
#tarif{
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: auto;
}


/*BOUTIQUE*/
#boutique{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/*CONTACT*/



 @media  (min-width: 200px) and (max-width: 765px)
 {
    #carte 
    {
        width: 300px;
    }       
}

#contact p{
    margin-bottom: 0px;
}

#newsletter .background-color-footer{
    
    height:300px;
}

.background-color-footer{
    background-color: #E30016;
    height:300px;
}

#form-email{
    background-color: white;
    width:300px;
    margin: 0 auto;
    border:red

}
form{
    color:white;
    background-color:#E30016;
}

#button-newsletter{
    background-color: white;
    color:#E30016;
    border:#E30016;
    margin: 0 auto;
}
/*FOOTER*/

footer{
    height:00px;  
    background-color: white;
}

footer h2{
    color:#E30016;
}

#fleche{
    color:white;
    font-size: 25px;
    line-height: 35px;;
}

#icone-facebook{
    width:79px;
}

#icone{
    width:92px;
    border:10px 1 solid #E30016;
}

#mentions-legal{
    text-decoration: none;
    color: #E30016;
    padding-left: 20px;
}

